<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Password reset</h1>
<p>
  Hello <%= "#{@user.first_name} #{@user.last_name}" %>, You have asked for a password reset.
</p>
<p>
  Here is your new password: <%= @password %>
</p>
<p>Have a great day !</p>
</body>
</html>